---
import Projects from "@/components/Projects";
import Skills from "@/components/Skills";
import { siteConfig } from "@/config";
import BaseLayout from "@/layouts/BaseLayout";

const { title, description } = siteConfig;
---

<BaseLayout title={title} description={description}>
	<section class="py-6">
		<h2>Skills</h2>
		<Skills />
	</section>
	<section class="py-6">
		<h2>Projects</h2>
		<Projects />
	</section>
</BaseLayout>
