---
interface Props {
	currentPage: number;
	totalPages: number;
	baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;
---

<nav aria-label="pagination navigation" class="flex justify-between gap-20">
	{
		currentPage > 1 && (
			<a
				href={`${baseUrl}${currentPage - 1 !== 1 ? currentPage - 1 : ""}`}
				class="bg-secondary-950 text-primary-50 hover:bg-secondary-900 my-8 rounded-md px-4 py-2 transition-colors duration-300"
			>
				Previous
			</a>
		)
	}
	{
		currentPage < totalPages && (
			<a
				href={`${baseUrl}${currentPage + 1}`}
				class="bg-secondary-950 text-primary-50 hover:bg-secondary-900 my-8 ml-auto rounded-md px-4 py-2 transition-colors duration-300"
			>
				Next
			</a>
		)
	}
</nav>
