---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<div class="mt-4 flex flex-wrap gap-2">
	{
		tags.map((tag) => (
			<a
				href={`/tags/${tag}`}
				class="bg-primary-950 hover:bg-primary-900 rounded-full px-3 py-1 text-sm duration-300 ease-in-out"
			>
				#{tag}
			</a>
		))
	}
</div>
