---
import { siteConfig } from "@/config";
---

<section class="grid gap-10">
	{
		siteConfig.projects.map(({ title, shortDescription, link, techs }) => (
			<section class="card">
				<h2>
					<a href={link} class="card-link" target="_blank" rel="noopener noreferrer">
						{title}
					</a>
				</h2>

				{/* <!-- Short description --> */}
				<p>{shortDescription}</p>

				{/* <!-- Tech tags --> */}
				<ul class="mt-4 flex flex-wrap gap-4">
					{techs.map((tech) => (
						<li class="tag">{tech}</li>
					))}
				</ul>
			</section>
		))
	}
</section>
