name: formatter

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/**/*.ts'
      - 'src/**/*.astro'

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
          cache: "npm"
      - name: Install dependencies and check
        run: |
          npm ci
          npm run check
