name: Markdown Linter

on:
  pull_request:
    branches: [main]
    paths:
      - '**/*.md'
      - 'blog/*.md'
  workflow_dispatch:

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: victoriacheng15hub/platform-actions/markdown-linter@main
        with:
          md_paths: |
            **/*.md