name: Publish Post

on:
  schedule:
    - cron: "30 0 * * 2"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      AUTHOR_NAME: '${{ github.actor }}'
      AUTHOR_EMAIL: '${{ github.actor }}@users.noreply.github.com'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run Publish Post Script
        env:
          GH_TOKEN: ${{ secrets.SYNC_BLOG_TOKEN }}
        run: ./scripts/publish_blog_post.sh
