name: Publish Post

on:
  schedule:
    - cron: "30 0 * * 2"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      AUTHOR_NAME: '${{ github.actor }}'
      AUTHOR_EMAIL: '${{ github.actor }}@users.noreply.github.com'
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Publish Post Script
        env:
          GH_TOKEN: ${{ secrets.SYNC_BLOG_TOKEN }}
        run: ./scripts/publish_blog_post.sh
