name: Sync Blog Post
on:
  repository_dispatch:
    types: [sync-blog-post]
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest
    env:
      ID: ${{ github.event.client_payload.issue_id }}
      BLOG_TITLE: ${{ github.event.client_payload.issue_title }}
      AUTHOR_NAME: '${{ github.actor }}'
      AUTHOR_EMAIL: '${{ github.actor }}@users.noreply.github.com'
      SYNC_BLOG_TOKEN: ${{ secrets.SYNC_BLOG_TOKEN }}
      API_LINK: ${{ vars.API_LINK }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Sync post
        env:
          GH_TOKEN: ${{ secrets.SYNC_BLOG_TOKEN }}
        run: ./scripts/sync_blog_post.sh